.widget {
  // flex flex-row w-full gap-2 items-center justify-center
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  // gap: 0.5rem;

  // bg-stone-50 pt-2 pb-1 rounded-b border border-t-0 border-gray-400
  padding-bottom: 0.25rem; 
  padding-top: 0.5rem; 
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;

  background-color: $stone-50;

  border: 1px solid $gray-400;
  border-top-width: 0; 
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 0.5rem;
    background-color: transparent;
    border: 0;
  }
}

.modal {
  
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}